body {
  background-color: white;
  padding: 3px;
  font-family: "Quicksand", sans-serif;
}

#map {
  margin: auto;
  height: 400px;
  width: 91%;
  // width: 100%;
  // margin: 5px 0px;
  border-radius: 15px;
}

// /*the container must be positioned relative:*/
// .autocomplete {
//   position: relative;
//   display: inline-block;
// }

// input {
//   border: 1px solid transparent;
//   background-color: #f1f1f1;
//   padding: 10px;
//   font-size: 16px;
// }

// input[type="text"] {
//   background-color: #f1f1f1;
//   width: 100%;
// }

// input[type="submit"] {
//   background-color: DodgerBlue;
//   color: #fff;
//   cursor: pointer;
// }

// .temporary {
// }

.card {
  border-radius: 0rem;
  p {
    margin-bottom: 0px;
  }
}

.card-body {
  padding: 0.5rem 0.5rem;
}

#guesses-div {
  overflow: hidden;
  border-collapse: separate;
}

.guess-container {
  border-radius: 5px !important;
  padding: 5px;
  margin: 5px;
  border-collapse: separate;
  overflow: hidden;
}

#guess-correct {
  border-width: 2px;
  background-color: #91b65d;
  color: rgb(17, 17, 17);
}

.direction-pointer {
  width: 20px;
}

.rounded {
  border-radius: 5px !important;
}

#lose-answer {
  background-color: #91b65d;
  color: rgb(17, 17, 17);
  margin: 0px;
  margin-bottom: 5px;
  // margin-right: -5px;
  // margin-left: -5px;
  border-radius: 5px !important;
}

#login-message {
  background-color: rgb(227 238 237);
}

.line {
  margin: 7px 0px;
  line-height: 97%;
}

#info-box {
  margin-top: 10px;
}
